{% extends 'myapp/base.html' %}

{% block content %}
<div>
    {% if object_list %}
    {% for item in index_stu_list %}
    <h1>{{ item.name }}</h1> 
    <h1>{{ item.email }}</h1> 
    <h1>{{ item.college }}</h1> 
    <h1>{{ item.city }}</h1> 
    
    <a href="{% url 'edit_stu' item.id %}">Update Student</a>

    <a href="{% url 'del_stu' item.id %}">Delete Student</a>
    <p>-----------------------</p>
    {% endfor item in index_stu_list %}
    {% else %}
    <h1>Student details not found</h1>
    {% endif %}
</div> 

{% endblock content %}